.hero {
  background: linear-gradient(
      to bottom,
      rgba(26, 25, 25, 0.1) 39%,
      rgba(26, 25, 25, 0.6) 91%,
      #1e1e1edd 100%
    ),
    url("https://res.cloudinary.com/dcowhgigh/image/upload/v1727283524/hero-img_d1aik7.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  position: relative;
}

.hero-content {
  position: absolute;
  bottom: 70px;
  left: 40px;
  right: 40px;
  max-width: 800px;
}

h1 {
  font-family: "Inria Serif", serif;
  color: var(--white);
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero-content {
    position: absolute;
    bottom: 80px;
    left: 70px;
  }

  h1 {
    font-size: 48px;
  }
}
