.map-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.text-container {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.text-container p {
  margin: 5px 0;
  font-size: 12px;
}

.text-container > p:first-of-type {
  font-size: 14px;
}

.text-container > p:nth-of-type(2) {
  font-size: 28px;
  margin: 15px 0;
}

.text-container,
.map-container {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.contact-information {
  border-top: 0.5px solid var(--white);
  padding-top: 20px;
  margin-top: 20px;
  max-width: 600px;
}

@media (min-width: 550px) {
  .map-section {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .text-container,
  .map-container {
    height: 500px;
  }

  .text-container {
    text-align: left;
    padding-left: 40px;
  }

  .text-container > p:nth-of-type(2) {
    font-size: 36px;
  }

  .text-container > p:nth-of-type(3) {
    max-width: 500px;
  }
}
