.product-page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
}

.product-page p {
  padding-top: 20px;
}

.product-section {
  padding: 40px 0;
}

@media (min-width: 768px) {
  .product-page {
    flex-direction: row;
    padding: 80px;
    text-align: left;
  }

  .product-text {
    width: 40%;
  }

  .product-section {
    width: 60%;

    padding: 0 0 40px 40px;
  }
}
