.button-default {
  height: 40px;
  width: 160px;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  border: none;
}

.button-alternate {
  height: 40px;
  width: 160px;
  background-color: F9F9F9;
  color: var(--black);
  font-size: 16px;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-default,
  .button-alternate {
    height: 50px;
    min-width: 200px;
  }
}
