.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.navsection-phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white);
  padding-right: 20px;
}

.navsection-phone li {
  padding: 5px;
  margin: 0 0 10px 12px;
  font-size: 16px;
}

.navbar-logo {
  width: 200px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.hamburger-icon {
  font-size: 44px;
  padding: 8px 0 0 10px;
}

/*Slide in from left*/
.dropdown-menu {
  padding: 10px 0;
  transform: translateX(-100%);
  opacity: 0;
  position: absolute;
  top: 55px;
  width: 100%;
  /* width: 50%;
  height: 100vh; */
  z-index: 999;
  background: var(--black);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.dropdown-menu.open {
  transform: translateX(0);
  opacity: 1;
}

/*SLIDE DOWN FROM TOP
.dropdown-menu {
  padding: 10px 0;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 999;
  background: var(--black);
  transition: transform 0.4s ease, opacity 0.4s ease; 
}

.dropdown-menu.open {
  transform: scaleY(1); 
  opacity: 1;
}

ORIGINAL NO ANIMATION
.dropdown-menu {
  padding: 10px 0;
  display: none;
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 999;
  background: var(--black);
}

.dropdown-menu.open {
  display: block;
}
End of animations*/

.navigation {
  display: flex;
  gap: 20px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navsection-tablet {
  display: none;
}

.navsection-phone .active-link {
  font-weight: bold;
}

.navsection-tablet .active-link {
  border-bottom: 3px solid var(--dark-grey);
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .navbar ul {
    flex-direction: row;
  }

  .navbar li {
    margin-bottom: 0;
    margin-left: 20px;
  }

  .navsection-phone {
    display: none;
  }

  .navsection-tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--black);
    color: var(--white);
    padding: 20px 20px 20px 20px;
  }

  .navbar ul a:hover {
    border-bottom: 3px solid var(--dark-grey);
    padding-bottom: 8px;
    text-decoration: none;
  }
}
